<header class="navbar navbar-inverse">           
    <div class="container">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Budgeteer</a>
        
    </div>
</header>

